*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(216, 111, 46) ;
    font-family: 'Golos Text', sans-serif;
}

header{}

.container{
    max-width: 1000px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px;
}

img{ 
    width: 100px;
    height: 120px;
    border: 1px solid black ;
    border-radius: 50%;
    float: left;
    
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color:black;
}
.header-contact{
    float: right;
    padding: 30px;
    
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
    
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
    
}
.clear-div{clear: both;}

hr{border-top: 3px solid black;
   width: 100%;
   margin: 20px auto;
   border-bottom: none;}

/*Personal Section Start */
#personal{}

.content{
    margin: 30px;
}

.left-div{
    width: 40%;
    float: left;
}

.right-div{
    width: 60%;
    float: left;
}
.common-hr{
    border: solid black 2px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-left{
    max-width: 45%;
    float: left;
}
.edu-right{
    max-width: 45%;
    float: right;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.footer a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.footer p{
    
    color: white;
    margin-top: 20px;
}